body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.health-food-top {
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
}

#health {
    padding-left: 80px;
    padding-top: 30px;
}

h1 {
    font-size: 60px;
}

.imagine-text {
    font-size: 20px;
}

.health-food {
    width: 50%;
    margin-left: 20px;
}

.health-food img {
    width: 80%;
}

.orange-color {
    color: orangered;
}

.order-now {
    padding: 10px 20px;
    background-image: linear-gradient(tomato, orange);
    width: 120px;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.health-food-aboutMe {
    display: flex;
    background-image: url(images/shapes/7.png);
}

#healthFood img {
    width: 40%;
    padding-left: 180px;
    padding-top: 50px;
}

.recipies-item {
    align-items: center;
}

.my-recipies {
    text-align: center;
    color: blueviolet;
    font-size: 30px;

}

.my-recipies-imgage {
    align-content: center;

}

.my-recipies-imgage img {
    width: 300px;
    height: 250px;
    padding: 15px;
    margin-left: 30px;
    border: 2px solid blanchedalmond;
    border-radius: 10px;

}