body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.health-food-top {
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
}

#health {
    padding-left: 80px;
    padding-top: 30px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.imagine-text {
    font-size: 20px;
}

.health-food {
    width: 50%;
    margin-left: 20px;
}

.health-food img {
    width: 80%;
}

.orange-color {
    color: orangered;
}

.order-now {
    padding: 10px 20px;
    background-image: linear-gradient(tomato, orange);
    width: 120px;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.health-food-aboutMe {
    display: flex;
    background-image: url(images/shapes/7.png);
}

#healthFood img {
    width: 40%;
    padding-left: 180px;
    padding-top: 50px;
}

.recipies-item {
    align-items: center;
}

.my-recipies {
    text-align: center;
    color: blueviolet;
    font-size: 30px;

}

.my-recipies-imgage {
    text-align: center;
    padding: 15px;
    margin-left: 30px;

}

.my-recipies-imgage img {
    width: 300px;
    height: 250px;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    padding: 15px;

}

.follower-team {
    display: flex;
    padding-left: 25px;
    margin-top: 40px;
    margin-bottom: 30px;

}

.follow-social {
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    text-align: center;
    border-left: 5px solid blueviolet;
}

#borderColor {
    border-left: 5px solid greenyellow;
}

.foodhead {
    color: darkorange;
}

.footer-section {
    text-align: center;
    background-image: linear-gradient(rgb(194, 169, 169), white);
    padding-top: 10px;
    margin-top: 20px;

}